html {    
    background-image: url("https://miro.medium.com/max/3840/1*B0gvqiYAjCNN9DXPK88poQ.jpeg");     
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
 
 .login{
    position: absolute;
    bottom: 0;
    background: rgb(41, 40, 40); /* Fallback color */
    background: rgba(41, 40, 40, 0.6); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 35%;
    height: 25%;
    left: 100px;
    border: white;
 }
 
 .log_in {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .login::after {
    content: "";
    clear: both;
    display: table;
  }