.bg-image
{
    background-image: url("flight.jpg");
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info
{
    position: absolute; /* Position the background text */
    bottom: 0; /* 
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
}