.bg-image
{
    background-image: url("flight.jpg");
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info
{
    position: absolute; /* Position the background text */
    bottom: 0; 
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */
}
.info .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 92.5%; /* Full width */
    padding: 20px; /* Some padding */
}