{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
        <title>Variance</title>
        <style>
            button:hover{
                background-color: cadetblue;
            }
            @media(min-width:800px)
            {
                body{
                    background-color:rgb(236, 223, 161);
                }
            }
        </style>
        <link rel="stylesheet" href="{%static 'styles.css' %}">
        <script src="{%static 'firstpagejs.js' %}">
        </script>
    </head>
    <body>
      <div style="position: absolute; top: 30px; left: 20px; width: 100px;">
        <a href="firstpage.html"><i class="material-icons">home</i></a>
    </div>
            <div class="info" style="bottom: 500px;">
            <h1 style="font-size: 75px;top: 100px; font-family: 'Times New Roman', Times, serif;color: black; text-align: center;">VARIANCE AIRLINES</h1></div>
            <form action="transaction.html" method="POST">
            {% csrf_token %}
            <div style="top: 0px;">
            <div class="row" style="padding-top: 130px;">
                <div class="column">
                  <div class="card">
                    <img src="https://s3.ap-south-1.amazonaws.com/mumbai.urbanpiper.com/media/bizmedia/2020/01/20/33-ChinesePlatter-Om-Sweets-Website-2020-7777_COMPRESSED.jpg" alt="Jane" style="width:100%">
                    <div class="container">
                      <h2>Chinese Platter</h2>
                      <p>₹300</p>
                      <p >Description</p>
                      <p class="title">Fried Rice, Spring Roll, &amp; Chili Paneer & Manchurian Gravy, Chowmein, Kimchi Salad,Garlic Sauce</p>
                      <div style="text-align: left;">
                        <input type="number" min="0" value="0" name="chinese">
                       {% comment %} <button class="button" name="add" style="font-size:15px;">Add</button> {% endcomment %}
                      </div>
                      <div id="Add1" style="text-align: right;right: 50px;">
                       <h1 style="font-weight:200px;font-size:larger;text-align: left;"></h1>
                       
                      </div>
                    </div>
                  </div>
                </div>
              
                <div class="column">
                  <div class="card">
                    <img src="https://www.foodpics.in/thumb/2020-11-25/FoodPicsIDLI5Nov20227891.jpg" alt="Mike" style="width:100%">
                    <div class="container">
                      <h2>Idli</h2>
                      <p>₹400</p>
                      <p>Description</p>
                      <p  class="title">Steamed rice cakes with lentil soup</p>
                      <div style="text-align: left;">
                        <input type="number" min="0" value="0" name="idli">
                       {% comment %} <button class="button" name="add" style="font-size:15px;">Add</button> {% endcomment %}
                      </div>
                      <div id="Add1" style="text-align: right;right: 50px;">
                       <h1 style="font-weight:200px;font-size:larger;text-align: left;"></h1>
                       
                      </div>
                    </div>
                  </div>
                </div>
              
                <div class="column">
                  <div class="card">
                    <img src="https://static.wixstatic.com/media/4289c0_8ed3f2e9843f44bf9eab3d8e3f9701fd~mv2_d_4896_3672_s_4_2.jpg/v1/fill/w_1000,h_750,al_c,q_90,usm_0.66_1.00_0.01/4289c0_8ed3f2e9843f44bf9eab3d8e3f9701fd~mv2_d_4896_3672_s_4_2.jpg" alt="John" style="width:100%">
                    <div class="container">
                      <h2>Mocktail</h2>
                      <p>₹120</p>
                      <p class="title">Description</p>
                      <p>Orange Coconut mocktail</p>
                      <div style="text-align: left;">
                        <input type="number" min="0" value="0" name="mocktail">
                       {% comment %} <button class="button" name="add" style="font-size:15px;">Add</button> {% endcomment %}
                      </div>
                      <div id="Add1" style="text-align: right;right: 50px;">
                       <h1 style="font-weight:200px;font-size:larger;text-align: left;"></h1>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <div class="card">
                    <img src="http://3.bp.blogspot.com/-XNd61BpjVPw/T8CisAWCKBI/AAAAAAAAEAo/bDhgC_Mbd3c/s640/IMG_9149.JPG" alt="John" style="width:100%">
                    <div class="container">
                      <h2>Veg Thaali</h2>
                      <p>₹420</p>
                      <p >Description</p>
                      <p class="title">Paratha/Rice,Curd,Dal,Kofta Balls,Malai Kofta,Lemon Juice,Chutney,Salad,Vinegar Onion,Dhokla</p>
                      <div style="text-align: left;">
                        <input type="number" min="0" value="0" name="thaali">
                       {% comment %} <button class="button" name="add" style="font-size:15px;">Add</button> {% endcomment %}
                      </div>
                      <div id="Add1" style="text-align: right;right: 50px;">
                       <h1 style="font-weight:200px;font-size:larger;text-align: left;"></h1>
                       
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="card">
                    <img src="https://c1.wallpaperflare.com/preview/201/1022/473/breakfast-sandwich-salad-healthy-thumbnail.jpg" alt="John" style="width:100%">
                    <div class="container">
                      <h2>Italian breakfast</h2>
                      <p>₹500</p>
                      <p>Description</p>
                      <p class="title">Italian stuffed bread,corn salad,coffee</p>
                      <div style="text-align: center;">
                        <input type="number" min="0" value="0" name="italian">
                       {% comment %} <button class="button" name="add" style="font-size:15px;">Add</button> {% endcomment %}
                      </div>
                      <div id="Add1" style="text-align: right;right: 50px;">
                       <h1 style="font-weight:200px;font-size:larger;text-align: left;"></h1>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="card">
                    <img src="https://www.oetker.in/Recipe/Recipes/oetker.in/in-en/pizza/image-thumb__52711__RecipeDetailsLightBox/pizza-pollo-arrosto.jpg" alt="John" style="width:100%">
                    <div class="container">
                      <h2>Pizza</h2>
                      <p>₹800</p>
                      <p>Description</p>
                      <p class="title">Farm house</p>
                      <p  class="title">Toppings: Crisp capsicum, succulent mushrooms, fresh tomatoes</p>
                      <div style="text-align: left;">
                        <input type="number" min="0" value="0" name="pizza">
                       {% comment %} <button class="button" name="add" style="font-size:15px;">Add</button> {% endcomment %}
                      </div>
                      <div id="Add1" style="text-align: right;right: 50px;">
                       <h1 style="font-weight:200px;font-size:larger;text-align: left;"></h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="w3-button">Pay Now</button>
              </form>
            </div>
                 <table style="position: absolute; text-align: center;width: 100%;padding-left: 50px;color: black;">
                    <th class="dev" onclick="contact()" style="color:black;"><u>Contact Us</u></th>
                    <th class="dev" style="color:black"><a href="faq.html" style="color: black;">FAQ</a></th>
                    <th class="dev_info" style="color: whitesmoke;"><a href='aboutus.html' style="color:black">About Us</a></th>
                </table>
            </div>
         </div>
    </body>
</html>
