{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'loginstyle.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
            .login .log_in:hover{
                background-color: black;
            }
        </style>
    </head>
    <body>
        <h1 style="font-weight: bold; font-family: 'Times New Roman', Times, serif; color: ivory; font-size: 50px; text-align: center;">VARIANCE AIRLINES</h1>
        
        <div class= "login" style="left: 400px; top: 240px;">
            <div class="log_in">
                <a href="http://127.0.0.1:8000/admin/"><i class="material-icons" style="font-size: 100px;color: white;">account_circle</i></a>
                <h2 style="color: ivory;">Admin Login</h2>
            </div>
            <div class="log_in" style="left: 50px;">
                <a href="User.html"><i class="material-icons" style="font-size: 100px;color: white;">account_circle</i></a>
                <h2 style="color: ivory;">User Login</h2>
            </div>
            <table style="position: absolute; text-align: center;bottom: -150px;width: 100%;color: whitesmoke;">
                <th class="dev_info" onclick="contact()" style="color: whitesmoke;"><u>Contact Us</u></th>
                <th class="dev_info" style="color: whitesmoke;"><a href="faq.html" style="color: whitesmoke;">FAQ</a></th>
                <th class="dev_info" style="color: whitesmoke;">About Us</th>
            </table>
        </div>
    </body>
</html>