{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Search Flight</title>
        <link rel="stylesheet" href="{% static 'loginstyle.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <style>
            .open-button {
            background-color: #555;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
}
        </style>
    </head>   
    <body> 
        <form action='passenger.html' method='POST'>   
        {% csrf_token %}
        {% for flight in departs %}
            {% if flight.dep_id == from and flight.arr_id == to %}
                <div class='bg-text' style="position: relative; top: 70px;">
                    {{ flight.flight_no}} From : {{ flight.dep_id }}   To : {{ flight.arr_id }}<br></br>
                        Departure Time : {{ flight.departure_time }} Arrival Time : {{ flight.arrival_time }}<br></br>
                        {% for f in fl%}
                            {% if f.origin_id == from and f.destination_id == to %}
                                <input type="radio" name="cl" value="{{ f.business }}" id="cl_{{ flight.flight_no }}">  Economy Rs.{{ f.economy }} <br></br>
                                <label for="cl_{{ flight.flight_no }}">{{ cl.economy }}</label>
                                {% comment %} <input type="radio" name="choice" value="{{ flight.sno }}" > Economy : <br></br> {% endcomment %}
                                <span><button name="choice" value="{{ flight.sno }}" style="left:30px; font-size:12px" class="btn" type="submit" name="action">Proceed
                                </button></span><br>
                                <label for="choice_{{ flight.flight_no }}">{{ choice.flight_no }}</label>
                                {% endif %}
                        {% endfor %}
                </div>
                <div class='bg-text' style="position: relative; top: 70px;">
                    {{ flight.flight_no}} From : {{ flight.dep_id }}   To : {{ flight.arr_id }}<br></br>
                        Departure Time : {{ flight.departure_time }} Arrival Time : {{ flight.arrival_time }}<br></br>
                        {% for f in fl%}
                            {% if f.origin_id == from and f.destination_id == to %}
                                <input type="radio" name="cl" value="{{ f.business }}" id="cl_{{ flight.flight_no }}">  Business Rs.{{ f.business }} <br></br>
                                <label for="cl_{{ flight.flight_no }}">{{ cl.business }}</label>
                                 <span><button name="choice" value="{{ flight.sno }}" style="left:30px; font-size:12px" class="btn" type="submit" name="action">Proceed
                                 </button></span><br>
                                <label for="choice_{{ flight.flight_no }}">{{ choice.flight_no }}</label>
                                
                                {% endif %}
                        {% endfor %}
                </div>
            {% endif %}   
        {% endfor %}
        
        </form>
    </body>
</html>