{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign up</title>
        <link rel="stylesheet" href="{% static 'loginstyle.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
            #h4{
                color: white; 
                t-family: 'Times New Roman';
                Times, serif; 
                font-weight: bold; 
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1 style="font-weight: bold; font-family: 'Times New Roman', Times, serif; color: ivory; font-size: 50px; text-align: center;">VARIANCE AIRLINES</h1>
        <div style="position: absolute; top: 30px; left: 20px; width: 100px;">
            <a href="Login.html"><i class="material-icons" style="font-size: 40px; color: azure;">home</i></a>
        </div>
        <div class="bg-text" style="align-items: center;">
            <form method="POST">
                <h4>Name: <input type="text" placeholder="Name" name="Firstname" value= '{% if submitbutton == "Submit" %} {{ name }} {% endif %}'/></h4>
                <h4>Mobile number: <input type="Mobile" placeholder="Mobile"></h4>
                <h4>Email: <input type="email" placeholder="Email"></h4>
                <h4>Username: <input type="text" placeholder="Username"></h4>
                <h4>Password: <input type="password" placeholder="Password"></h4>
                <h4>Re-enter Password: <input type="password" placeholder="Password"></h4>
                <a href="Login.html"><input type="submit" placeholder="Login"></a>
            </form>
        </div>
    </body>
</html>